@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--roboto);
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 1s;
    position: relative;
}


#data-display {
    flex: 5;
}

.icon {
    height: 20px;
    width: 20px;
}

form {
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 2px solid black;
    display: flex;
}

form button {
    background-color: transparent;
    border: none;
    flex: 1;
    cursor: pointer;
}

input[type="search"]{
    background-color: transparent;
    border: none;
    flex: 10;
    text-align: center;
    font-family: var(--roboto);
}

input[type="search"]:focus {
    outline: none;
}

main {
    flex: 5;
    margin: min(10%, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    font-size: larger;
    text-align: center;
}

#temp {
    font-size: xx-large;
}

#data-display {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: min(10vw, 50px);
}

#main-img {
    width: min(100%, 260px);
    height: min(100%, 260px);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 6px;
}

.upper-card {
    font-size: x-small;
}

.lower-card {
    text-align: center;
}

main, .card {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
}

@media only screen and (min-width: 650px){
    
    #data-display {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .row {
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-start;
    }

    .upper-card {
        font-size: small;
    }

    .lower-card {
        font-size: larger;
    }

    .card {
        flex: 1;
    }

}

/*Switch code by: https://uiverse.io/victoryamaykin/funny-rabbit-33*/

.switch {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 34px;
    right: 10px;
    bottom: 10px;
   }
   
   .switch input {
    display: none;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
   }
   
   input:checked + .slider {
    background-color: #454545;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
   }
   
   .slider:after {
    content: '°C';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
   }
   
   input:checked + .slider:after {
    content: '°F';
   }


